@{
    ViewData["Title"] = "Home Page";
}
<style>
    
</style>
<div class="display-4 mb-3 mt-3">Novi filmovi!</div>
    <div id="carousel" class="carousel slide img-fluid" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="Images/dunec.jpg" width="1100" height="500" />
            </div>
            <div class="carousel-item">
                <img src="Images/interstellarc.jpg" width="1100" height="500" />
            </div>
            <div class="carousel-item">
                <img src="/Images/HP7P2C.jpg" width="1100" height="500" />
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
<div class="display-4 mb-3 mt-3">U ponudi</div>
<div class="display-4 mb-3 mt-3">Uzbudljive drame.. <i class="bi bi-book-half"></i></div>
<div class="row">
    <div class="col-sm-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/ShawshankRedemption.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">The Shawshank Redemption</h5>
                <p class="card-text">1994 - 2h 22m - iMDB Ocena: 9.3 - Drama</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/Kum.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">The Godfather</h5>
                <p class="card-text">1972 - 2h 55m - iMDB Ocena: 9.2 - Drama</p>
            </div>
        </div>
    </div>
</div>
<div class="display-4 mb-3 mt-3">Neverovatna Naučna-Fantastika  <i class="bi bi-rocket-takeoff"></i></div>
<div class="row">
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/Dune3.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">Dune</h5>
                <p class="card-text">2021 - 2h 35m - iMDB Ocena: 8.0 - Sci-Fi</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/interstellarc.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">The Godfather</h5>
                <p class="card-text">1972 - 2h 55m - iMDB Ocena: 9.2 - Drama</p>
            </div>
        </div>
    </div>
</div>
<div class="display-4 mb-3 mt-3">Uskočite u svet fantazije  <i class="bi bi-magic"></i></div>
<div class="row">
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/Haripoter.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">Harry Potter and Deathly Hallows Part 2</h5>
                <p class="card-text">2011 - 2h 10m - iMDB Ocena: 8.1 - Fantazija/Avantura</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/GospodarPrstenova.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">The Lord of the Rings: The Fellowship of the Ring</h5>
                <p class="card-text">2001 - 2h 58m - iMDB Ocena: 9.2 - Fantazija</p>
            </div>
        </div>
    </div>
</div>
<div class="display-4 mb-3 mt-3">Najbolji krimi filmovi samo za vas!  <i class="bi bi-bullseye"></i></div>
<div class="row">
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/goodfellas.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">Goodfellas</h5>
                <p class="card-text">1990 - 2h 25m - iMDB Ocena: 8.7 - Krimi</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 w-75">
            <div class="card-body">
                <img class="card-img-top img-fluid" src="/Images/casino.jpg" style="height: 300px; width:400px;" />
                <h5 class="card-title">Casino</h5>
                <p class="card-text">1995 - 2h 58m - iMDB Ocena: 8.2 - Krimi</p>
            </div>
        </div>
    </div>
</div>