@model CinemaOnline.Models.Filmovi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <h3 class="text-center">Are you sure you want to delete @Model.Ime ?</h3>
        <form method="post" asp-controller="Movies" asp-action="PotvrdiBrisanje" asp-route-id="@Model.FilmId">
            <div class="form-group text-center">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" readonly/>
            </div>
            <div class="form-group text-center">
                <label asp-for="Ocena" class="control-label"></label>
                <input asp-for="Ocena" class="form-control" readonly/>
            </div>
            <div class="form-group text-center">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" readonly />
            </div>
            <div class="form-group text-center">
                <label asp-for="Zanr" class="control-label"></label>
                <input asp-for="Zanr" class="form-control" readonly />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash">Delete</i></button>
            </div>
        </form>
    </div>
</div>