html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.brief {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 18px;
    list-style:none;
}